pycryptodome
pyperclip
requests
Pillow
pyinstaller
browser-cookie3
lz4
opencv-python
pywin32
win32crypt
pyautogui
pystray
psutil
pyttsx3
pyHook
smtplib
cryptography
pyobjc
pynput
pyqrcode
pyinstaller-hooks-contrib
pyfiglet
pyudev
keyboard
pyautogui
pymsgbox
pillow
win32api
win32con
python-dotenv
beautifulsoup4
lxml
pywin32
